*{
  margin: 0;
  padding: 0;
}
p{
  border: 1px solid black;
  padding: 10px;
  width: 300px;
}
#pos1{
  position: absolute;
  left: 50px;
  top: 50px;
}
#pos2{
  position: absolute;
  right: 100px;
  top: 100px;
}
#pos3{
  position: absolute;
  left: 100px;
  bottom: 100px;
}
#static{
  position: static;
  background-color: antiquewhite;
}

#relative1{
  position: relative;
  background-color: antiquewhite;
}

#relative2{
  position: relative;
  left: 100px;
  top: -50px;
  background-color: antiquewhite;
}

#fixed{
  width: 100px;
  height: 100px;
  background-color: #222;
  position: fixed;
  right: 30px;
  top: 30px;
}